body {
    background-color: whitesmoke;
}

/*header*/

.s1 {
    background-color: #f1e5b9;
    width: 2140px;
    height: 4380px;
    border-radius: 50px;
    margin: 350px auto 75px auto
}

.title {
    font-size: 110px;
    padding: 60px 10px 10px 55px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #9cbad3;
    margin: 0px;
}


.introduce {
    font-size: 38px;
    padding: 30px 5px 10px 100px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    width: 480px;
    height: 500px;
    letter-spacing: 9px;
    color: #003D79;
    line-height: 60px;
    font-weight: bold;
    float: left;
}

.a1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    width: 1000px;
    height: 200px;
    letter-spacing: 9px;
    line-height: 60px;

    position: relative;
    top: 100px;
    left: 100px;
}

.font1 {
    font-size: 45px;
    color: #c08d6b;
    font-family: 'Acme', sans-serif;
    letter-spacing: 7px;
    font-weight: bold;
}

.font2 {
    font-size: 80px;
    font-weight: lighter;
    font-family: 'Rubik Bubbles', cursive;
    color: #c08d6b;
}

.font2:hover {
    font-size: 100px;
    color: rgb(202, 123, 135);
}

.c1 {
    column-count: 2;
}

.c2 {
    column-count: 3;
}


.ins,
.fb {
    height: 80px;
    width: 80px;
    float: right;
    padding: 90px 8px 10px 8px;
}

.mail {
    height: 83px;
    width: 83px;
    float: right;
    padding: 90px 8px 10px 8px;
    padding-right: 130px;
}


.mypic {
    height: 650px;
    width: 430px;
    padding: 6px 30px 30px 220px;
}

.box {
    border: whitesmoke 10px dotted;
    height: 550px;
    width: 1200px;
    position: relative;
    top: 80px;
}

.bear {
    width: 300px;
    height: 300px;
    position: relative;
    top: -320px;
    right: -390px;
}

/*nav*/
nav {
    background-color: #f7fdf5;
    width: 2140px;
    height: 150px;
    margin-top: 25px;

}

li {
    display: inline-block;
    list-style: none;
    padding: 50px 70px;
}

nav {

    top: 0px;
    left: 0px;
    z-index: 50;
}

nav a {
    height: 100px;
    width: 80px;
    font-size: 45px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #6aa1cf;
    text-decoration: none;
}

nav a:hover {
    color: #0e5997;
    font-size: 47px;
}

.personal {
    height: 65px;
    width: 65px;
    position: relative;
    left: 15px;
    top: -146px;
}

.skill {
    height: 65px;
    width: 65px;
    position: relative;
    left: 568px;
    top: -146px;
}

.portfolio {
    height: 65px;
    width: 65px;
    position: relative;
    left: 746px;
    top: -146px;
}

.license {
    height: 65px;
    width: 65px;
    position: relative;
    left: 1452px;
    top: -146px;
}

/*Programming Skills*/
.ps1 {
    font-size: 60px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #7b7b7b;
    margin: 45px 30px 30px 60px;
}

.ps1:hover {
    letter-spacing: 5px;
}

.pw1,
.pw2,
.pw3,
.pw4 {
    font-size: 45px;
    color: #1f6284;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 2px 10px 25px 95px;
}

/*progress1*/
.progress1 {
    width: 730px;
    height: 45px;
    border: 6px solid rgb(172, 172, 172);
    position: relative;
    left: 90px;
    top: -30px;
    border-radius: 15px;
}

.progress1 span {
    display: inline-block;
    border-radius: 10px;
    width: 75%;
    height: 45px;
    background: #94acc1;
    animation: pro1 2s infinite linear forwards;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    font-weight: normal;
    text-align: right;
}

@keyframes pro1 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

/*progress2*/
.progress2 {
    width: 730px;
    height: 45px;
    border: 6px solid rgb(172, 172, 172);
    position: relative;
    left: 90px;
    top: -35px;
    border-radius: 15px;
}

.progress2 span {
    display: inline-block;
    border-radius: 10px;
    width: 82%;
    height: 45px;
    background: #94acc1;
    animation: pro2 2s infinite linear forwards;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    font-weight: normal;
    text-align: right;
}

@keyframes pro2 {
    0% {
        width: 0%;
    }

    100% {
        width: 82%;
    }
}

/*progress3*/
.progress3 {
    width: 730px;
    height: 45px;
    border: 6px solid rgb(172, 172, 172);
    position: relative;
    left: 90px;
    top: -40px;
    border-radius: 15px;
}

.progress3 span {
    display: inline-block;
    border-radius: 10px;
    width: 65%;
    height: 45px;
    background: #94acc1;
    animation: pro3 2s infinite linear forwards;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    font-weight: normal;
    text-align: right;
}

@keyframes pro3 {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

/*progress4*/
.progress4 {
    width: 730px;
    height: 45px;
    border: 6px solid rgb(172, 172, 172);
    position: relative;
    left: 90px;
    top: -45px;
    border-radius: 15px;
}

.progress4 span {
    display: inline-block;
    border-radius: 10px;
    width: 88%;
    height: 45px;
    background: #94acc1;
    animation: pro4 2s infinite linear forwards;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    font-weight: normal;
    text-align: right;
}

@keyframes pro4 {
    0% {
        width: 0%;
    }

    100% {
        width: 88%;
    }
}

/*Professional Skills*/
.ps2 {
    font-size: 60px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #7b7b7b;
    margin: -110px 370px 20px 20px;
    float: right;

}

.ps2:hover {
    letter-spacing: 5px;
}

.star {
    float: right;
    font-size: 45px;
    color: #1f6284;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    position: relative;
    top: -235px;
    right: 100px;
    width: 800px;
    height: 100px;
}

div img {
    height: 65px;
    width: 65px;
    padding: 20px 15px 30px 15px;

}

.border {
    border-bottom: #b8957d 8px dashed;
    padding-top: 25px;
}

/*Work experience*/
.we {
    font-size: 60px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #7b7b7b;
    margin: 50px 30px 5px 60px;
    flex-wrap: nowrap;
    width: 2000px;
}

.we:hover {
    letter-spacing: 5px;
}

.word1 {
    font-size: 65px;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    color: #174468;
    position: relative;
    top: -107px;
    left: 70px;
}

.word2 {
    font-size: 47px;
    font-family: 'Acme', sans-serif;
    color: #237299;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 320px;
}

.word3 {
    font-size: 47px;
    font-family: 'Acme', sans-serif;
    color: #237299;
    font-weight: bold;
    position: relative;
    top: -235px;
    left: 320px;
}

.border2 {
    width: 55px;
    border-top: solid grey 8px;
    position: relative;
    top: 8px;
    left: 215px;
}

.border3 {
    width: 35px;
    border-top: solid grey 8px;
    position: relative;
    top: -290px;
    left: 270px;
}

.border4 {
    width: 35px;
    border-bottom: solid grey 8px;
    position: relative;
    top: -315px;
    left: 270px;
}

.border5 {
    height: 140px;
    border-left: solid grey 8px;
    position: relative;
    top: -458px;
    left: 270px;
}


.pethouse {
    height: 510px;
    width: 700px;
    border-radius: 40px;
    position: relative;
    top: -780px;
    left: 73px;
    border: whitesmoke 15px outset;
    padding: 0px;
}

.dog {
    height: 220px;
    width: 220px;
    position: relative;
    top: 130px;
    right: 530px;
    float: right;
}

.button {
    font-family: 'Acme', sans-serif;
    color: rgb(69, 92, 116);
    font-weight: bolder;
    background-color: #9cbad3;
    border: gray;
    border-radius: 20px;
    font-size: 60px;
    width: 700px;
    height: 135px;
    letter-spacing: 5px;
    position: relative;
    bottom: 330px;
    right: -83px;
}

.button:hover {
    font-size: 80px;
}

/*portfolio*/

.back {
    width: 1030px;
    height: 630px;
    background-color: whitesmoke;
    border-radius: 25px;
    float: right;
    position: relative;
    bottom: 650px;
    right: 60px;
    font-size: 36px;
    padding-left: 32px;
    font-family: "微軟正黑體";
    font-weight: bold;
    color: rgb(52, 69, 87);
}

.port {
    font-size: 60px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #7b7b7b;
    float: right;
    position: relative;
    top: -140px;
    right: -290px;
}

.port:hover {
    letter-spacing: 5px;
}

.p_1 {
    position: relative;
    bottom: 730px;
    left: 700px;
    z-index: 6;
    transition: 0.5s;
}

.p_1:hover {
    transform: scale(1.4);
}

.po_1 img {
    height: 446px;
    width: 248px;
    border-radius: 10px;
    float: right;
}


.chinese {
    position: relative;
    bottom: 730px;
    left: 1030px;
    z-index: 5;
    transition: 0.5s;
}

.chinese:hover {
    z-index: 6;
    transform: scale(1.4);
}

.piano {
    position: relative;
    bottom: 730px;
    left: 1370px;
    z-index: 4;
    transition: 0.5s;
}

.piano:hover {
    z-index: 6;
    transform: scale(1.4);
}

.natual {
    position: relative;
    bottom: 1225px;
    left: -155px;
    z-index: 3;
    transition: 0.5s;
}

.natual:hover {
    z-index: 6;
    transform: scale(1.4);
}

.game {
    position: relative;
    bottom: 1225px;
    left: 180px;
    z-index: 2;
    transition: 0.5s;
}

.game:hover {
    z-index: 6;
    transform: scale(1.4);
}

.back2 {
    width: 1060px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 25px;
    float: right;
    position: relative;
    bottom: 1138px;
    right: 60px;
}



.manage {
    height: 270px;
    width: 460px;
    padding-top: 40px;
    padding-left: 30px;
    border-radius: 50px;
}

.t1 {
    font-size: 40px;
    font-weight: 900;
    font-family: "微軟正黑體";
    float: right;
    padding-right: 110px;
    color: rgb(52, 69, 87);
}

.m1 {
    font-size: 27px;
    font-weight: bolder;
    font-family: "微軟正黑體";
    float: right;
    position: relative;
    top: -255px;
    right: 63px;
    color: rgb(46, 88, 136);
}


/*license*/
.web,
.acc,
.com1,
.com2 {
    width: 500px;
    height: 300px;
    padding: 0px;
    text-align: center;
    position: relative;
    top: -765px;
    left: 25%;
}

.lic {
    font-size: 60px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    color: #7b7b7b;
    position: relative;
    bottom: 730px;
    left: 50px;
}

.lic:hover {
    letter-spacing: 5px;
}

.border6 {
    border-bottom: #b8957d 8px dashed;
    position: relative;
    top: -720px;
}

.web:hover {
    border: #bbd1ea solid 12px;
    border-radius: 20px;
    padding: 0px;
    width: 515px;
    height: 320px;
}

.acc:hover {
    border: #507dbc solid 12px;
    border-radius: 20px;
    padding: 0px;
    width: 515px;
    height: 320px;
}

.com1:hover {
    border: #2f6690 solid 12px;
    border-radius: 20px;
    padding: 0px;
    width: 515px;
    height: 320px;
}

.com2:hover {
    border: #a1c6ea solid 12px;
    border-radius: 20px;
    padding: 0px;
    width: 515px;
    height: 320px;
}

.webw p {
    font-size: 42px;
    font-weight: bolder;
    color: #237299;
    text-align: center;
    float: left;
    position: relative;
    top: -90px;
    left: 250px;
}

.accw p {
    font-size: 42px;
    font-weight: bolder;
    color: #237299;
    float: right;
    text-align: center;

}

.com1w p {
    font-size: 42px;
    font-weight: bolder;
    color: #237299;
    text-align: center;
    float: left;
}

.com2w p {
    font-size: 42px;
    font-weight: bolder;
    color: #237299;
    float: right;
    text-align: center;

}

.w1 {
    font-size: 22px;
    font-weight: bold;
    color: #174468;
    float: left;
    text-align: left;
}

.y1 {
    font-size: 22px;
    font-weight: bold;
    color: #174468;
    float: left;
    text-align: left;
    position: relative;
    top: -990px;
    left: -750px;
}

.x1 {
    font-size: 22px;
    font-weight: bold;
    color: #174468;
    float: right;
    text-align: left;
    position: relative;
    top: -1320px;
    right: -50px;
}

.z1 {
    font-size: 22px;
    font-weight: bold;
    color: #174468;
    clear: both;
    float: right;
    text-align: left;
    position: relative;
    top: -1220px;
    right: 200px;
}

.webw {
    position: relative;
    top: -1320px;
    left: -130px;
}

.accw {
    position: relative;
    top: -1420px;
    left: -372px;
}

.com1w {
    position: relative;
    top: -1100px;
    left: -500px;
}

.com2w {
    position: relative;
    top: -1100px;
    left: 300px;
}

#License {
    height: 250px;
}

footer {
    height: 200px;
    background-color: #f7fdf5;
    width: 2140px;
    height: 200px;
    margin-top: 50px;
    border-radius: 0px 0px 50px 50px;
    font-size: 35px;
    color: #003D79;
}

footer p {
    position: relative;
    text-align: center;
    left: 540px;
    top: 60px;
    font-weight: bolder;
    font-family: 'Acme', sans-serif;
    letter-spacing: 5px;

}